[submodule "NMEA"]
	path = NMEA
	url = https://github.com/forcel0/NMEA2000.git
	branch = master
[submodule "Pi-CAN/NMEA2000_PICO"]
	path = Pi-CAN/NMEA2000_PICO
	url = https://github.com/forcel0/NMEA2000_PICO.git
	branch = main
